html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  color: black;
  background-color: white;
}

p {
  color: black;
}

a {
  color: blueviolet;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

#header {
  padding-bottom: 18px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 18px;
  text-align: center;
}

#hero-wrapper {
  width: 30%;
  margin-right: 32px;
  float: left;  
}

#header h1 {
  font-size: 1.8em;
  margin-bottom: 8px;
}
#header p {
  margin: 8px 0px;
}

#hero {
}

.responsive-image {
  width: 100%;
  padding-bottom: 100%;  
  background-position: center center !important;
  background-size: cover !important;  
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


.story-block {
  padding: 3px 22px 22px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 22px;
}

.story-block:last-of-type {
  border-bottom: none;
  margin-bottom: 82px;
}

.story-block .thumbnail {
  float: left;
  max-width: 22%;
  margin-right: 32px;
}


#pollControl {
    background: white;
    color: darkslategray;
    border: 1px solid #a3a3a3;
    display: block;
    margin: 32px auto;
    font-size: 16px;
    border-radius: 5px;
    padding: 8px 14px;  
}

#pollControl:hover {
  cursor: pointer;
}





